<div id="containerResults">
   <ul id="menu">
<% if @movies %>
    <div id="type" data-type="movie" style="display:hidden;"></div>

    <section class="roundaboutcontainer">
      <h1 id="game-movie-music-title"></h1>
      <a href="/"><button style="padding:10px;"><< Back</button></a>
      <ul class="roundabout-holder">
        <% @results.each do |movie| %>
          <% if movie[:backdrop] %>
            <li><img data-title="<%= movie[:title] %>" data-backdrop="<%= @image + movie[:backdrop]%>" class="roundabout-image" src="<%= @image + movie[:image] %>" /></li>
          <% else %>
            <li><img data-title="<%= movie[:title] %>" data-backdrop="<%= @image + movie[:image]%>" class="roundabout-image" src="<%= @image + movie[:image] %>" /></li>
          <% end %>
        <% end %>
      </ul>
    </section>

<% elsif @games %>
  <div id="type" data-type="game" style="display:hidden;"></div>
  <section class="roundaboutcontainer">
    <h1 id="game-movie-music-title"></h1>
    <a href="/"><button style="padding:10px;"><< Back</button></a>
    <ul class="roundabout-holder">
      <% @results.each do |game| %>
        <% game[:images].each do |image| %>
          <li><img data-title="<%= game[:title] %>" class="roundabout-image" src="<%= image %>"></li>
        <% end %>
      <% end %>
    </ul>
  </section>

<% elsif @music %>
  <div id="type" data-type="music" style="display:hidden;"></div>
  <section class="roundaboutcontainer">
    <h1 id="game-movie-music-title"></h1>
    <a href="/"><button style="padding:10px;"><< Back</button></a>
    <ul class="roundabout-holder">
      <% @results.each do |song| %>
        <li><img data-title='<%= "#{song[:artist]}: #{song[:collection]}" %>' class="roundabout-image" src="<%= song[:image] %>" /></li>
      <% end %>
    </ul>
  </section>


<% end %>
 
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var type = $('#type').data('type');
    $('.roundabout-holder').roundabout();
    if(type == 'movie'){
      setMovieBackgroundImage();
    }else{
      setGameBackgroundImage();
    }
    initializeRoundaboutClick(type);
  });

  // On click, set the background image to the image in focus.
  function initializeRoundaboutClick(type){
    $('.roundabout-image').click(function(){
      if(type=='movie'){
        setMovieBackgroundImage();
      }else{
        setGameBackgroundImage();
      }
    });
  }

  function setBackgroundImage(type){
    var frontImage = $('.roundabout-in-focus img');
    if(type == 'game'){
      var url = frontImage.attr('src').replace('thumb','original');
    }else if(type == 'movie'){
      var url = frontImage.data('backdrop');
    }
  }

  function setMovieBackgroundImage(){
    setTimeout(function(){
      var frontImage = $('.roundabout-in-focus img');
      var url = frontImage.data('backdrop');
      $('body').css('background-image', 'url('+url+')');
      $('body').css('background-size', 'cover');
      $('body').css('background-repeat', 'no-repeat');
      $('#game-movie-music-title').html(frontImage.data('title'));
    }, 1000);
  }

  function setGameBackgroundImage(){
    setTimeout(function(){
      var frontImage = $('.roundabout-in-focus img');
      var url = frontImage.attr('src').replace('thumb','original');
      $('body').css('background-image', 'url('+url+')');
      $('body').css('background-size', 'cover');
      $('body').css('background-repeat', 'no-repeat');
      $('#game-movie-music-title').html(frontImage.data('title'));
    }, 1000);
  }
</script>






<script>
// $( function() { 
//     var slideshowRunning = false,
//     backgroundList = [];

//     // Build the background list with href of links
//     $( '#menu a' ).each( function() { 
//         backgroundList.push( { 
//             src: $( this ).attr( 'href' ),
//             valign: $( this ).data( 'valign' ),
//       fade: 3000
//          } );
//      } );
    
//     // Define a slideshow with overlay and pause it
//   $.vegas( backgroundList[3] )
//   ( 'overlay', {
//     opacity: 0.5
//   })
//   ( 'pause' );

//     // A short demo
//     $( '#menu a' ).click( function() { 
  
//         // If the SlideShow link is clicked
//         if ( $( this ).is( '#slideshow' ) ) { 
    
//             // Start the SlideShow
//             if ( slideshowRunning == false ) { 
//                 slideshowRunning = true;
        
//                 $( '#pause' )
//           .show()
//           .css( 'opacity', 0.5 )
//           .html( 'PAUSE' );
          
//         $.vegas( 'slideshow', { 
//           delay: 5000,
//           backgrounds: backgroundList,
//         })
        
//             // Pause the SlideShow
//              } else { 
//                 slideshowRunning = false;
        
//                 $( '#pause' )
//           .show()
//           .css( 'opacity', 0.5 )
//           .html( 'PLAY' );
          
//                 $.vegas( 'pause' );  
//              }
            
//         // If a standard Thumbnail is clicked
//          } else { 
//       slideshowRunning = false;
      
//             $( '#pause' ).hide();
//       $( '#thumbnail' ).attr( 'src', 'images/slideshow.gif' );

//       var idx = $( this ).parent( 'li' ).index();
//       $.vegas( 'stop' )( backgroundList[idx] );
//          }
     
//          return false;
//      } );
   
//   // Apply a border to the right thumbnail when a background is loaded
//   $( 'body' ).bind( 'vegasload', function( e, bg ) {      
//       var src = $( bg ).attr( 'src' ).replace( 'background', 'thumbnail' );
    
//     $( '#menu img' )
//       .css( 'border', '1px solid #FFF' ); 
//     $( 'img[src="' + src + '"]' )
//       .css( 'border', '1px solid #CF0' );
//   });
  
//   // Display the right thumbnail instead of the slideshow animated gif when the slideshow is running
//   $( 'body' ).bind( 'vegaswalk', function( e, bg ) {
//       var src = $( bg ).attr( 'src' ).replace( 'background', 'thumbnail' );
    
//     $( '#thumbnail' ).attr( 'src', src );
//   });
//  } );
</script>




