<header></header>
<div id="curtains"></div>
 <div id="wrapper">
  <section id="container">
                <div class="title animated fadeInDown">Wecome to Poster Finder</div>
                <div class="subtitle animated fadeInDown">Search for Movie, Music and Game Covers</div>
                <div class="spanSubtitle animated fadeInDown">Just Enter a Name & Click Search</div>
               
                <div class="subscribeAndSocial animated fadeInDown">
                    <div class="newsletter">
                        <form id="form">
                            <input type="hidden" name="sendEmail" value=""; />
                            <input type="text" name="email" placeholder="Enter Movie, Music or Game Name Here"/>
                            <input type="submit" value="Submit" />
                        </form>


                        <div id="notifications"></div>
                    </div>
                    <div class="socialNetwork">
                        <div class="title"></div>
                        <ul class="social">
                            <a href="" target="_blank"><%= image_tag ('facebook.png')%></a>
                            <a href="" target="_blank" ><%= image_tag ('twitter.png')%></a>
                            <a href="" target="_blank" ><%= image_tag ('g+.png')%></a>
                            <a href="" target="_blank"><%= image_tag ('dribble.png')%></a>
                            <a href="" target="_blank" ><%= image_tag ('youtube.png')%></a>
                        </ul>
                    </div>
                </div>
            </section>
            <div style="clear:both"></div>
            <div class="footerMobile">
                <div class="copyright"></div>
            </div>
        </div>
        <footer class="animated fadeInDown">
            <div class="copyright"></div>
        </footer>

