 <%= form_tag results_path, method: :get do %>
  <%= text_field_tag 'search', nil, :placeholder => 'Enter Film Name or Album Name Here.....'%>
  <div class="labelTag">
    <%= label_tag "Movie" %>
    <%= radio_button_tag 'submit_type', 'movie', true %>
    <%= label_tag "Game" %>
    <%= radio_button_tag 'submit_type', 'game' %>
  </div>
  <%= submit_tag "search", :id => 'submitForm' %>
<% end %>

