<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title>PosterFinder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="social">
  <%= image_tag ('facebook.png')%>
  <%= image_tag ('twitter.png')%>
  <%= image_tag ('g+.png')%>
  <%= image_tag ('dribble.png')%>
  <%= image_tag ('youtube.png')%>
</div>

<%= yield %>

</body>
</html>
